<ol class="employee-list">
  {{#each employees as |employee|}}
  <li>
    <article class="employee">
        {{employee.first_name}} {{employee.last_name}}
        |
        <a href="/employee/{{employee.id}}"></a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>