<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BNFS Employee Tracker</title>
  <link rel="stylesheet" href="../../public/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Belize National Fire Service</a>
      </h1>
      <h2>Employee and Certification Tracker</h2>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Please contact BNFS IT for asisstance.
    </footer>
  </div>

</body>

</html>