<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BNFS Employee Tracker</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Belize National Fire Service</a>
      </h1>
      <h2>Employee and Certification Tracker</h2>
        <nav>
      <a href="/login">login</a>
    </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Please contact BNFS IT for asisstance.
    </footer>
  </div>

</body>

</html>