<div class="uk-grid" data-uk-grid-margin>

    {{!-- header with information on the application --}}
    <div class="uk-width-1-1 uk-row-first">
        <header>Belize National Fire Service</header>
        <p id="homeText">This employee tracker will allow you to add, update, and delete firefighters from the Belize National Fire Service. It will organize them by stations and maintain certifications. See pictures below for current station Lieutenants.</p>
    </div>
</div>

    {{!-- pictures of the lieutenants --}}
    <div class="uk-flex">
        <div class="uk-text-center">
            <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
                <figure class="uk-overlay uk-margin-remove">
                    <img class="uk-border-circle" src="/images/rando 2.jpeg"/>
                    <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle"></figcaption>
                </figure>
            </div>
        <h2 class="uk-margin-remove">Lieutenant 1</h2>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Belmopan Station</p>
    </div>

        <div class="uk-text-center">
            <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
                <figure class="uk-overlay uk-margin-remove">
                    <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle"></figcaption>
                </figure>
            </div>
        <h2 class="uk-margin-remove">Lieutenant 2</h2>
        <p class="uk-text-large uk-margin-remove uk-text-muted">San Ignacio</p>
    </div>

        <div class="uk-text-center">
            <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
                <figure class="uk-overlay uk-margin-remove">
                    <img class="uk-border-circle" src="/images/random lieut 1.jpeg"/>
                    <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle"></figcaption>
                </figure>
            </div>
        <h2 class="uk-margin-remove">Lieutenant 3</h2>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Santa Elena</p>
    </div>

    <div class="uk-text-center">
            <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
                <figure class="uk-overlay uk-margin-remove">
                    <img class="uk-border-circle" src="/images/random3.jpeg"/>
                    <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle"></figcaption>
                </figure>
            </div>
        <h2 class="uk-margin-remove">Lieutenant 4</h2>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Benque</p>
    </div>
    </div>
</div>

{{!-- a section for any new alerts or updates from belize  --}}
<div class="uk-padding-small">
<div class="uk-card-secondary uk-width-1-1 uk-card uk-card-body">
    <h3 class="uk-text-bolder uk-card-title">New Alerts</h3>
    <p class=" uk-text-large">This is some important information that you need to know.</p>
</div>
</div>
