<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1 uk-row-first">
        <h1 class="uk-heading-large">Belize National Fire Service</h1>
        <p class="uk-text-large">This employee tracker will allow you to add, update, and delete firefighters from the BNFS. It will organize them by stations and maintain certifications.</p>
    </div>
</div>