<header>Belize National Fire Service</header>
<div>
     <div id="employeeHeader">Employees</div>
        <div id="infoReceive">
            <ol>
                <li>Terry Cherry Captain CPR Certification</li>
                <li>Chance Williams Lietenant Certification</li>
            </ol>
        </div>
    <div id="infoBtns">
        <button class="infoBtn">Add Employee</button>
        <button class="infoBtn">Update Employee</button>
        <button class="infoBtn">Delete Employee</button>
    </div>
</div>

