<link rel="stylesheet" href="/stylesheets/style.css">
<header>Belize National Fire Service</header>
<div>
     <div id="employeeHeader">Employees</div>
        <div id="infoReceive">
            <ol>
                <li>Terry Cruize Captain CPR Certification</li>
                <li>Chance Williams Lietenant Certification</li>
                <li>Clarence Sawyer Firefighter Certification</li>
                <li>James Edmond Lietenant Certification</li>
                <li>Olivia Chapman Captain Certification</li>
            </ol>
        </div>
    <div id="infoBtns">
        <button class="infoBtn" uk-toggle="target: #add-employeemodal" type="button">Add Employee</button>
        <button class="infoBtn">Update Employee</button>
        <button class="infoBtn">Delete Employee</button>
    </div>

<div id="add-employeemodal" uk-modal>
    <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h2 class="uk-modal-title" id="modalHeader">Enter in the Employees Information Below</h2>
            </div>
            <div class="uk-modal-body">
                <form class="add-employee">
                    <input id="modalLN" class="uk-input enter" type="text" placeholder="Last Name"/>
                    <input id="modalFN" class="uk-input enter" type="text" placeholder="First Name"/>
                    <input id="modalUN" class="uk-input enter" type="text" placeholder="Username"/>
                    <input id="modalEmail" class="uk-input enter" type="text" placeholder="Email"/>
                    <input id="modalRank" class="uk-input enter" type="text" placeholder="Rank"/>
                    <input id="modalSID" class="uk-input enter" type="text" placeholder="Station Id"/>
                    <input id="modalPW" class="uk-input enter" type="text" placeholder="Password"/>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button id="closeBtn" class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button id="saveBtn" class="uk-button uk-button-primary uk-modal-close" type="submit">Save</button>
                   </form>
            </div>
    </div>
    <script src="/javascript/addemployee.js"></script>
</div>
