<div class="uk-flex uk-flex-column uk-width-1-1 uk-flex-center">
    <div class="uk-padding-large">
        <div class="uk-flex uk-flex-center uk-margin-bottom"><span uk-icon="icon: home; ratio: 5"></span></div>

            <div class="uk-flex uk-flex-center">
            <form class="login-form" >
                <div class="uk-panel uk-panel-box uk-form" >
                <div class="uk-form-row uk-margin-small">
                    <input class="uk-width-1-1 uk-form-large" type="text" id="email-login" placeholder="Email" />
                </div>
                <div class="uk-form-row uk-margin-small"> 
                    <input class="uk-width-1-1 uk-form-large" type="password" id="password-login" placeholder="Password" />
                </div>
                <div class="uk-form-row uk-margin-small">
                    <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit">Login</button>
                </div>
                <div class="uk-form-row uk-text-small">
                    <label class="uk-float-left"> <input type="checkbox">Remember Me</label>
                    <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password</a>
                    <button class="infoBtn" uk-toggle="target: #add-employeemodal" type="button">Sign UP</button>
                </div>
                </div>
            </form>
            </div>
        </div>
    </div>

</div>

<div id="add-employeemodal" uk-modal>
    <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h2 class="uk-modal-title" id="modalHeader">Enter in the Employees Information Below</h2>
            </div>
            <div class="uk-modal-body">
                <form class="add-employee uk-form uk-grid-small" id="signup" uk-grid>

                    <div class="uk-width-1-2@s">
                        <input id="signupLN" class="uk-input enter uk-form-danger uk-form-width-medium" type="text" placeholder="Last Name"/>
                    </div>

                    <div class="uk-width-1-2@s">
                        <input id="signupFN" class="uk-input enter uk-form-danger uk-form-width-medium" type="text" placeholder="First Name"/>
                    </div>

                    <div class="uk-width-1-2@s">
                        <input id="signupUN" class="uk-input enter uk-form-danger uk-form-width-medium" type="text" placeholder="Username"/>
                    </div>

                    <div class="uk-width-1-2@s">
                        <input id="signupEmail" class="uk-input enter uk-form-danger uk-form-width-medium" type="text" placeholder="Email"/>
                    </div>

                    <div class="uk-width-1-2@s">
                    <div class="uk-form-controls uk-form-width-medium">
                        <label class="uk-form-label" for="form-horizontal-select">Select Rank</label>
                        <select id="signupRank" class="uk-select form-horizontal-select uk-select">
                            <option>Firefighter</option>
                            <option>Lieutenant</option>
                            <option>Captain</option>
                        </select>
                    </div>
                    </div>

                    <div class="uk-width-1-2@s">
                    <div class="uk-form-controls uk-form-width-medium">
                        <label class="uk-form-label" for="form-horizontal-select">Select Station</label>
                        <select id="signupSID" class="uk-select form-horizontal-select">
                            <option value="1">Belmopan</option>
                            <option value="4">Benque</option>
                            <option value="2">Santa Elena</option>
                            <option value="3">San Ignacio</option>
                        </select>
                    </div>
                    </div>

                    <div class="uk-margin">
                        <input id="signupPW" class="uk-input enter uk-form-danger uk-form-width-medium" type="password" placeholder="Password"/>
                    </div>
                </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button id="closeBtn" class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button id="saveBtn" class="uk-button uk-button-primary uk-modal-close" type="submit">Save</button>
                    </div>
            </form>
            </div>
    </div>

</div>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>