{{!------ LOGIN PAGE-------}}

{{!-- Login Container --}}
<div class="uk-flex uk-flex-column uk-width-1-1 uk-flex-center">
    <div class="uk-padding-large">
        {{!-- Home Icon --}}
        <div class="uk-flex uk-flex-center uk-margin-bottom"><span uk-icon="icon: home; ratio: 5"></span></div>
        {{!-- Form Container --}}
        <div class="uk-flex uk-flex-center">
            <form class="login-form" >
                <div class="uk-panel uk-panel-box uk-form" >
                        {{!-- Email Container --}}
                    <div class="uk-form-row uk-margin-small">
                        <input class="uk-width-1-1 uk-form-large" type="text" id="email-login" placeholder="Email" />
                    </div>
                    {{!-- Password Container --}}
                    <div class="uk-form-row uk-margin-small"> 
                        <input class="uk-width-1-1 uk-form-large" type="password" id="password-login" placeholder="Password" />
                    </div>
                    {{!-- Login Button --}}
                    <div class="uk-form-row uk-margin-small">
                        <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit">Login</button>
                    </div>
                    {{!-- "Remember Me Checkbox Option" --}}
                    <div class="uk-form-row uk-text-small">
                        <label class="uk-float-left"> <input type="checkbox">Remember Me</label>
                        {{!-- Forgot Password --}}
                        <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password</a>
                        {{!-- Add Employee button --}}
                        <button class="infoBtn" uk-toggle="target: #add-employeemodal" type="button">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<div id="add-employeemodal" class="add-employeemodal" uk-modal>
    <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h2 class="uk-modal-title" id="modalHeader">Enter in the Employees Information Below</h2>
            </div>
            <div class="uk-modal-body">
                <form class="add-employee uk-form uk-grid-small" uk-grid>

                    <div class="uk-width-1-2@s">
                        <input id="modalLN" class="uk-input enter uk-form-width-medium" required type="text" placeholder="Last Name"/>
                    </div>

                    <div class="uk-width-1-2@s">
                        <input id="modalFN" class="uk-input enter uk-form-width-medium" required type="text" placeholder="First Name"/>
                    </div>

                    <div class="uk-width-1-2@s">
                        <input id="modalUN" class="uk-input enter uk-form-width-medium" required type="text" placeholder="Username"/>
                    </div>

                    <div class="uk-width-1-2@s">
                        <input id="modalEmail" class="uk-input enter uk-form-width-medium" required type="text" placeholder="Email"/>
                    </div>

                    <div class="uk-width-1-2@s">
                    <div class="uk-form-controls uk-form-width-medium">
                        <label class="uk-form-label" for="form-horizontal-select" required>Select Rank</label>
                        <select id="modalRank" class="uk-select form-horizontal-select uk-select">
                            <option>Firefighter</option>
                            <option>Lieutenant</option>
                            <option>Captain</option>
                        </select>
                    </div>
                    </div>

                    <div class="uk-width-1-2@s">
                    <div class="uk-form-controls uk-form-width-medium">
                        <label class="uk-form-label" for="form-horizontal-select" required>Select Station</label>
                        <select id="modalSID" class="uk-select form-horizontal-select">
                            <option value = "1">Belmopan</option>
                            <option value = "4">Benque</option>
                            <option value = "2">Santa Elena</option>
                            <option value = "3">San Ignacio</option>
                        </select>
                    </div>
                    </div>

                    <div class="uk-width-1-2@s">
                    <div class="uk-margin uk-form-password">
                        <label class="uk-form-label">Password</label>
                        <input id="modalPW" class="uk-input enter uk-form-width-medium required" type="password"/>
                    </div>
                    </div>

                </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button id="closeBtn" class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button id="saveBtn" class="uk-button uk-button-primary" type="submit">Save</button>
                    </div>
            </form>
        </div>
    </div>
<div uk-alert class="uk-alert-success uk-animation-fade uk-animation-reverse uk-animation-15" id="success">
    <p>The employee has been successfully added.</p>
</div>
<div uk-alert class="uk-alert-danger uk-animation-fade uk-animation-reverse uk-animation-15" id="danger">
    <p>Something has gone wrong. Please check that you are not duplicating a employees email or username</p>
</div>

    {{!-- Login Script --}}
    <script src="/javascript/login.js"></script>
    {{!-- Add Employee Script For Sign Up --}}
    <script src="/javascript/addemployee.js"></script>