<div class="uk-flex uk-flex-column uk-width-1-1 uk-flex-center">
    <div class="uk-padding-large">
        <div class="uk-flex uk-flex-center uk-margin-bottom"><span uk-icon="icon: home; ratio: 5"></span></div>

            <div class="uk-flex uk-flex-center">
            <form class="login-form" >
                <div class="uk-panel uk-panel-box uk-form" >
                <div class="uk-form-row uk-margin-small">
                    <input class="uk-width-1-1 uk-form-large" type="text" id="email-login" placeholder="Email" />
                </div>
                <div class="uk-form-row uk-margin-small"> 
                    <input class="uk-width-1-1 uk-form-large" type="text" id="password-login" placeholder="Password" />
                </div>
                <div class="uk-form-row uk-margin-small">
                    <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" id="loginbutton" href="#">Login</a>
                </div>
                <div class="uk-form-row uk-text-small">
                    <label class="uk-float-left"> <input type="checkbox">Remember Me</label>
                    <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password</a>
                </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>