 <header>Belize National Fire Service</header>
<div id="box" class="container">
   
       {{!-- {{#each stations as |station|}}
            {{> stationbtn station}}
       {{/each}} --}}
    <div class="row">
      {{!-- {{#each stations as |station |}}
            {{> stationbtn station}}
       {{/each}} --}}
       <button class="stationBtn col" id="stationthree" onclick="location.href='/station/3'" type="button">San Ignacio</button>
       <button class="stationBtn col" id="stationone" onclick="location.href='/station/1'" type="button">Belmopan Fire Station</button>
   </div>
    {{!-- </div> --}} 
    <div class="row">
        <button class="stationBtn col" onclick="location.href='/station/4'" type="button" id="stationfour">Benque Fire Station</button>
        <button class="stationBtn col" onclick="location.href='/station/2'" type="button" id="stationtwo">Santa Elena Fire Station</button>
    </div>
 {{!-- <a href="/station/{{id}}">{{station.name}} </a> --}}
</div>
<script src="/javascript/station.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script> 
{{/if}}