 <header>Belize National Fire Service</header>
<div id="box" class="container">
    <div class="row">    
    <button class="stationBtn col" id="stationone">San Ignacio Fire Station</button>
    <button class="stationBtn col" id="stationtwo">Belize City Northside Fire Station</button>
    </div>
    <div class="row">
      {{#each stations as |station |}}
            {{> stationbtn station}}
       {{/each}}
       {{!-- <button class="stationBtn col" id="stationone">San Ignacio</button>
       <button class="stationBtn col" id="stationtwo">Belmopan Fire Station</button> --}}
    {{!-- </div>
    </div> --}}
    {{!-- <div class="row">
        <button class="stationBtn col" id="stationthree">Benque Fire Station</button>
        <button class="stationBtn col" id="stationfour">Santa Elena Fire Station</button> --}}
    </div>
 
</div>
 <a href="/station/{{id}}"{{ station.name }}></a> 


