 {{!-------- STATIONS PAGE  --------}}
 
<header>Belize National Fire Service</header>

{{!---- Container for all Stations ----}}
<div id="box" class="container">
   
       {{!-- {{#each stations as |station|}}
            {{> stationbtn station}}
       {{/each}} --}}
    <div class="row">
       <div class="col">
      {{#each stations as |station |}}
            {{> stationbtn station}}
       {{/each}}
       </div>
       {{!-- <button class="stationBtn col" id="stationone">San Ignacio</button>
       <button class="stationBtn col" id="stationtwo">Belmopan Fire Station</button> --}}
       </div>
    </div> 
    {{!-- <div class="row">
        <button class="stationBtn col" id="stationthree">Benque Fire Station</button>
        <button class="stationBtn col" id="stationfour">Santa Elena Fire Station</button> --}}
    {{!-- </div> --}}
 {{!-- <a href="/station/{{id}}">{{station.name}} </a> --}}
{{!-- </div> --}}

{{!-- If logged in, access logout javascript --}}
{{#if loggedIn}}
<script src="/javascript/logout.js"></script> 
{{/if}}