<header>Belize National Fire Service</header>
<div id="box" class="container">
    <div class="row">
        <button class="stationBtn col" id="stationone">San Ignacio Fire Station</button>
        <button class="stationBtn col" id="stationtwo">Belmopan Fire Station</button>
    </div>
    <div class="row">
        <button class="stationBtn col" id="stationthree">Benque Fire Station</button>
        <button class="stationBtn col" id="stationfour">Santa Elena Fire Station</button>
    </div>
</div>
