
/* nav bar */
ul.uk-navbar-nav li a {
    font-size: 25px;
}
/* header and footer */
header {
    background-color: red;
    opacity: .7;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 15px;
}

footer {
    background-color: red;
    opacity: .7;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 15px;
}

img {
    height: 235px;
    width: 235px;
}

/* homepage text under header */
#homeText {
    font-size: 20px;
    text-align: center;
    margin: 10px;

}

/* -------- stations section ----------- */

/* box containing stations */
#box {
    border: solid, 2px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.row {
    width: 100%;
    margin: 10;

}

/* Each station button */
.stationBtn {
    padding: 100px;
    margin: 12px;
    color: white;
    font-size: larger;
}

#stationone {
    background-image: url('../images/belize_engine.jpg');
    background-position: center;
    background-size: cover;
    background-color: darkslategray;
    background-blend-mode: soft-light;
}

#stationtwo {
    background-image: url('../images/belmopan.png');
    background-position: center;
    background-size: cover;
    background-color: darkslategray;
    background-blend-mode: soft-light;
}

#stationthree {
    background-image: url('../images/benque.png');
    background-position: center;
    background-size: cover;
    background-color: darkslategray;
    background-blend-mode: soft-light;
}

#stationfour {
    background-image: url('../images/santa_elena.png');
    background-position: center;
    background-size: cover;
    background-color: darkslategray;
    background-blend-mode: soft-light;
}


/* ---------- info section -------------- */

/* Employees text under header */
#employeeHeader {
    margin: 25px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* container for data that will be received (names/records) */
#infoReceive {
    text-align: center;
}

ol.employee-list {
    list-style: none;
}

/* ------ add, update delete buttons -------*/

/* all 3 buttons container */
#infoBtns {
    padding: 25px;
    text-align: center;
    border-radius: 3px;
}

/* each individual button */
.infoBtn {
    margin: 15px;
    padding: 10px;
    border-radius: 2px;
    background-color: bisque;
    font-weight: bold;
}

.infoBtn:hover{
 background-color:antiquewhite;
}


/* rendered links */
/* .stationBtn {
    
} */

#modalHeader {
    text-align: center;
}

/* modal text sections */
.enter {
    margin: 8px;
}

#success,
#danger {
    display: none;
}
